@font-face {
  font-family: 'SpaceGrotesk';
  src:  url('../assets/fonts/SpaceGrotesk/SpaceGrotesk-Regular.woff') format('woff'),
        url('../assets/fonts/SpaceGrotesk/SpaceGrotesk-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'SpaceGrotesk SemiBold';
  src:  url('../assets/fonts/SpaceGrotesk/SpaceGrotesk-SemiBold.woff') format('woff'),
        url('../assets/fonts/SpaceGrotesk/SpaceGrotesk-SemiBold.woff2') format('woff2');
}
