@mixin container {
  width: 100%;
  max-width: $container-width;
  margin: 0 auto;
  // box-sizing: border-box;
  @media (max-width: ($container-width + $default-padding*2)) {
    padding-left: $default-padding;
    padding-right: $default-padding;
  };
}

@mixin innercontainer {
  padding-left: 90px;
  padding-right: 90px;
}

@mixin spaceGrotesk {
  font-family: 'SpaceGrotesk';
  font-weight: 400;
}

@mixin spaceGroteskSemiBold {
  font-family: 'SpaceGrotesk SemiBold';
  font-weight: 600;
}
