@mixin container {
  width: 100%;
  max-width: $container-width;
  margin: 0 auto;
  // box-sizing: border-box;
  @media (max-width: ($container-width + $default-padding*2)) {
    padding-left: $default-padding;
    padding-right: $default-padding;
  };
}

@mixin innercontainer {
  padding-left: 90px;
  padding-right: 90px;
}

@mixin outtergrid {
  // width: 100%;
  max-width: 1640px;
  margin: 0 7.3%;
  @media (max-width: 768px){
    margin-left: 36px;
    margin-right: 36px;
  }
}

@mixin DesktopIndentOneColumn{
  @media (min-width: 768px){
    margin-left: 8.4%;
    margin-right: 8.4%;
  }
}

@mixin DesktopIndentTwoColumns{
  @media (min-width: 768px){
    margin-left: 16.8%;
    margin-right: 16.8%;
  }
}

@mixin DesktopIndentThreeColumns{
  @media (min-width: 768px){
    margin-left: 25.2%;
    margin-right: 25.2%;
  }
}

@mixin DesktopIndentTwoColumnsLeftOneColumnRight{
  @media (min-width: 768px){
    margin-left: 16.8%;
    margin-right: 8.4%;
  }
}

@mixin DesktopIndentTwoColumnsLeftFourColumnsRight{
  @media (min-width: 768px){
    margin-left: 16.8%;
    margin-right: 33.6%;
  }
}

@mixin DesktopIndentOneColumnLeft{
  @media (min-width: 768px){
    margin-left: 8.4%;
  }
}

@mixin DesktopIndentOneColumnRight{
  @media (min-width: 768px){
    margin-right: 8.4%;
  }
}


@mixin spaceGrotesk {
  font-family: 'SpaceGrotesk';
  font-weight: 400;
}

@mixin spaceGroteskSemiBold {
  font-family: 'SpaceGrotesk SemiBold';
  font-weight: 600;
}
