//colors
$dark-blue: #090039;
$blue: #0043FF;
$gray-white: #E1E1EF;
$blue-white: #F2F2FF;
$white: #FFF;
$black: #000;

//font-sizes
$font-size: 16px;
$font-size-s: 14px;
$font-size-l: 18px;

$container-width: 1100px;
$default-padding: 20px;
