
@import './_variables';
@import './_mixins';
@import './_fonts';

@import './introModule';
@import './socialModule';
@import './featureModule';
@import './supportModule';
@import './footer';
@import './button';
@import './formfield';
@import './datefield';
@import './checkbox';
@import './radiobutton';
@import './dots';
@import './bits/react-tags';
@import './onboarding/signup';
@import './onboarding/signup1';
@import './onboarding/signup2';
@import './onboarding/signup3';
@import './onboarding/signup4';
@import './onboarding/signup5';
@import './onboarding/signup52';
@import './onboarding/welcome';
@import './profile';
@import './bits/certificate';
@import './tasks';
@import './terms';
@import './navbar';

html {
  padding: 0;
  margin: 0;
  font-size: 16px;
  scroll-behavior: smooth;
  overflow: auto;
}

body {
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  word-break: break-word;
  overflow-x: hidden;
}

*{ box-sizing: border-box; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'SpaceGrotesk SemiBold', sans-serif;
}

p,
span,
a {
  // font-family: 'Poppins', sans-serif;
  font-family: 'SpaceGrotesk', sans-serif;
}

h1,
h2 {
  line-height: 66px;
}

p,
span,
a {
  line-height: 38px;
}
