@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

@import './_variables';

@import './introModule';
@import './socialModule';
@import './featureModule';
@import './supportModule';
@import './footer';
@import './button';
@import './formfield';
@import './checkbox';
@import './radiobutton';
@import './onboarding/signup1';
@import './onboarding/signup2';
@import './onboarding/signup3';
@import './onboarding/signup4';
@import './onboarding/signup5';
@import './onboarding/welcome';

html {
  padding: 0;
  margin: 0;
  font-size: 16px;
  scroll-behavior: smooth;
  overflow: auto;
}

body {
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  word-break: break-word;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  font-family: 'Poppins', sans-serif;
}

h1,
h2 {
  line-height: 66px;
}

p,
span {
  line-height: 38px;
}
