.article-module {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  padding: 0 20%;

  @media (max-width: 768px) {
    padding: 0 6%;
  }

  @media (max-width: 411px) {
    padding: 0;
  }

  &__article{
    display: flex;
    flex-flow: column;
    color: $dark-blue;

    img {
      height: 50%;
      object-fit: fill;
    }

    h4 {
      font-size: $font-size;
    }

    span {
      font-weight: bold;
    }

    a {
      color: $dark-blue;
      font-weight: bold;
      :visited {
        color: $dark-blue;
      }
    }

    @media (max-width: 411px) {
      h4,
      span,
      a {
        margin: 0 6%;
      }
    }
  }
}

.sm {
  width: 30%;
}

.lg {
  width: 48%;
}

.sm,
.lg {
  height: 500px;
  @media (max-width: 768px) {
    width: 48%;
    height: 450px;
  }

  @media (max-width: 411px) {
    width: 100%;
  }
}
