.article-module {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  // padding: 0 20%;
  padding-bottom: 6px;
  @include DesktopIndentTwoColumnsLeftOneColumnRight;

  @media (max-width: 1000px) {
    padding: 0 6%;
  }

  @media (max-width: 411px) {
    padding: 0;
  }

  &__article{
    display: flex;
    flex-flow: column;
    color: $dark-blue;
    height: 400px;
    width: 32%;
    margin-bottom: 40px;

  @media (max-width: 1000px) {
    width: 48%;
    height: 450px;
  }

  @media (max-width: 411px) {
    width: 100%;

  }

    img {
      height: 50%;
      object-fit: cover;
      margin-bottom: 15px;
    }

    h4 {
      font-size: 20px;
      margin-top: 0;
      margin-bottom: 0;
    }

    span{
      font-size: $font-size-s;
      font-weight: normal;
    }
    a {
      font-size: $font-size-s;
      font-weight: bold;
    }

    a {
      color: $dark-blue;
      :visited {
        color: $dark-blue;
      }
    }

    @media (max-width: 411px) {
      img {
        position: relative;
        left: 50%;
        margin-left: -50vw;
        width: 100vw;
        height: 60%;
      }

      h4{
        margin: 0 6% 15px;
      }
      span,
      a {
        margin: 0 6%;
      }
    }
  }
  &__article-date{
    span{

    }
  }
  &__article-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 120px;
    @media (max-width: 768px){
      min-height: 100px;
    }
    // align-items: flex-end;
  }

  &__article-read-more{
    display: flex;

    img{
      margin-bottom: 2px;
      margin-left: 7px;
      height: 10px;
      left: unset;
      width: unset;
    }
  }
}
