.feature-module {
  background: #e1e1ef;
  color: #090039;
  position: relative;
  min-height: 480px;
  width: 100vw;

  &__wrapper{
    @include outtergrid;
    // position: relative;
  }

  &__content {
    @include DesktopIndentOneColumn;
    max-width: 1100px;
    padding: 70px 0 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    @media (min-width: 1650px) {
      padding: 100px 4% 100px;
      max-width: 1350px;
    }
    @media (max-width: 790px) {
      justify-content: space-around;
    }
    @media (max-width: 525px) {
      justify-content: space-between;
      padding: 100px 6% 30px;
    }
  }

  &__feature {
    max-width: 220px;
    margin: 10px 0;
    @media (min-width: 1650px) {
      max-width: 280px;
    }
    @media (max-width: 525px) {
      max-width: 88%;
      text-align: center;
      margin: 0 auto 60px;
    }
  }

  &__image {
    margin-left: 30px;
    width: 80px;
    height: 80px;
    @media (max-width: 525px) {
      margin-left: 0;
    }
  }

  &__heading {
    font-weight: 600;
    font-size: 20px;
    @media (min-width: 1650px) {
      font-size: 25px;
    }
  }

  &__text {
    p {
      font-size: 16px;
      @media (min-width: 1650px) {
        font-size: 20px;
      }
      @media (max-width: 1100px) {
        line-height: unset;
        font-size: 16px;
      }
    }
  }
}
