.footer {
  background: #090039;
  color: #fff;
  position: relative;
  min-height: 400px;
  width: 100vw;

  &__content {
    padding: 50px 4% 50px;
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @media (min-width: 1650px) {
      max-width: 1100px;
    }
    @media (max-width: 525px) {
      flex-direction: column;
    }
  }

  &__column {
    max-width: 300px;
    span {
      display: block;
      line-height: 35px;
      min-width: 175px;

      @media (min-width: 1650px) {
        font-size: 20px;
      }
      @media (max-width: 1100px) {
        line-height: unset;
        font-size: 16px;
      }
    }

    h4 {
      font-weight: bold;
      margin-bottom: 10px;
      font-size: 20px;
      @media (min-width: 1650px) {
        font-size: 25px;
        margin-bottom: 15px;
      }
    }

    p {
      margin-top: 0;
      line-height: 35px;
      @media (min-width: 1650px) {
        font-size: 20px;
      }
      @media (max-width: 1100px) {
        line-height: unset;
        font-size: 16px;
      }
    }
  }

  &__image {
    max-width: 300px;
  }

  &__corona {
    @media (max-width: 525px) {
      position: absolute;
      width: 200px;
      right: 0;
      transform: rotate(90deg);
    }
    width: 100%;
  }

  &__smiley {
    position: absolute;
    left: 50%;
    top: 100px;
    width: 40px;
    @media (max-width: 525px) {
      left: unset;
      right: 30px;
      top: 30px;
    }
  }

  &__link {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }

    &:visited {
      color: white;
    }
  }
}
