.navbar {
  position: relative;
  top: 0;
  width: 100vw;
  min-height: 100px;
  padding: 0 10% 0 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: $font-size;

  &__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 35px;
    img {
      height: 35px;
      margin-right: 15px;
    }
    @media (max-width: 768px) {
      display: none;
    }
  }

  &__links {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    list-style: none;
  }

  &__link {
  margin: 0 15px;
  text-decoration: none;
  white-space: nowrap;
    &:hover {
      font-weight: bold;
    }
  }
}

.light {
  background: $white;
  color: $dark-blue;

  &:visited {
      color: $dark-blue;
    }
}

.dark {
  background: $dark-blue;
  color: $white;

  &:visited {
      color: $white;
    }
}

.bold {
  font-weight: bold;
}

.test path {
  fill: #fff;
}
