.news-module {
  background: #fff;
  color: #090039;
  position: relative;
  min-height: 350px;
  width: 100vw;

  &__wrapper{
    @include outtergrid;
    // position: relative;
  }

  &__image {
    position: absolute;
    left: 0;
    top: 60px;
    img {
      height: 150px;
      width: 180px;
    }
  }

  &__content {

    // padding: 0 4%;
    // max-width: calc(900px + 8%);
    margin: 70px auto 0;
    @media (min-width: 1650px) {
      max-width: 1100px;
      // padding: 0 4% 100px;
      padding-bottom: 100px;
    }
    @media (max-width: 1100px) {
      // padding: 0 6%;
    }

  }

  &__read-more{
    @include DesktopIndentTwoColumnsLeftOneColumnRight;
    text-align: right;
    padding-bottom: 70px;
    p{
      margin: 0;
      font-weight: 600;

    }
    a{
      color: $dark-blue;
      :visited {
        color: $dark-blue;
      }
    }
  }


  .pageTitle{
    padding-top: 0;
    h1 {
      font-family: 'SpaceGrotesk';
      font-weight: 400;
    }
    @media (max-width: 525px) {
      h1 {
        font-size: 32px;
        line-height: 1.5em;
        margin-bottom: 20px;
      }
    }
  }

  .article-module{
    &__article{
      margin-bottom: 0;
    }
    &__article-text{
      min-height: unset;
    }
  }
}
