.press-kit {
  background-color: $blue-white;
  // width: 100%;
  // padding: 0 20%;
  // @include outtergrid;
  @include DesktopIndentTwoColumns;
  //

  &__link {
  color: $dark-blue;
  font-weight: bold;

    &:visited {
        color: $dark-blue;
      }
  }

  &__images,
  &__logos {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  &__images {
    margin-bottom: 85px;
  }

  &__logos {
    padding-bottom: 200px;
  }

  &__logos-right {
    display: flex;
    flex-flow: column;
    width: 53%;
    @media (max-width: 411px) {
      width: 100%;
    }
  }

  &__image {
    width: 100%;
  }

  &__container {
    position: relative;
    margin-top: 10px;
    // @include DesktopIndentTwoColumns;
  }

  &__0,
  &__3 {
    width: 100%;
  }

  &__1 {
    width: 42%;
  }

  &__2 {
    width: 56%;
  }

  &__0logo {
    width: 45%;
  }

  &__1logo {
    width: 100%;
    height: 49%;
  }

  &__2logo {
    width: 100%;
    height: 48%;
  }

  &__0,
  &__1,
  &__2,
  &__3,
  &__0logo,
  &__1logo,
  &__2logo {
  @media (max-width: 411px) {
    margin: 0;
    position: relative;
    left: 50%;
    margin-left: -50vw;
    width: 100vw;
  }
  }

  &__button {
    color: $white;
    position: absolute;
    bottom: 32px;
    left: 32px;
    width: 20%;
  }
  // .button{
  //   background-color: $dark-blue;
  // }
}
