.press-kit {
  background-color: $blue-white;
  width: 100%;
  padding: 0 20%;

  @media (max-width: 768px) {
    padding: 0 6%;
  }

  @media (max-width: 411px) {
    padding: 0;
  }

  &_image {
    width: 48%;
  }

  &_button {
    background-color: $blue;
    color: $white;
    position: relative;
    bottom: 70px;
    left: 10px;
    width: 20%;
  }
}
