.terms{
  background-color: rgba(255,255,255,0.9);
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;

  justify-content: center;
  color: $dark-blue;
  &__wrapper{
    margin-top: 10%;
    width: 80%;
    // display: flex;
    flex-direction: column;
  }

  &__cross{
    float: right;
    transform: scale(1.5);
  }

  &__text{
    margin-top: 30px;
  }
}
