.pageTitle {
  color: $dark-blue;
  padding: 0 20% 30px;

  @media (max-width: 1000px) {
    padding: 0 6% 30px;
  }

  h1 {
    margin: 0;
  }

  h5 {
    width: 70%;
    margin: 0;

    @media (max-width: 1000px) {
      width: 70%;
    }
  }
}

.blue {
  background-color: $blue-white;
}
