.pageTitle {
  color: $dark-blue;
  padding: 0 20% 30px;
  // padding: 0 0 30px;

  @media (max-width: 1000px) {
    padding: 0 6% 30px;
    // padding: 0 0 30px;
  }

  h1 {
    margin: 0;
  }

  h3 {
    // width: 70%;
    margin: 0;
    // font-size: 24px;
    @media (max-width: 1000px) {
      // width: 70%;
    }
  }
}

.blue {
  background-color: $blue-white;
}
