.pageTitle {
  color: $dark-blue;
  padding: 60px 0 30px;
  // padding: 0 0 30px;
  @include DesktopIndentTwoColumns;
  @media (max-width: 768px) {
    // padding: 0 6% 30px;
    // padding: 0 0 30px;
  }

  h1 {
    margin: 0;
    font-size: 40px;
  }

  span {
    // width: 70%;
    margin: 0;
    font-size: 20px;
    line-height: 1.5em;
    @media (max-width: 1000px) {
      // width: 70%;
    }
  }
}

.blue {
  background-color: $blue-white;
}
