.signup4 {
  background-color: $gray-white;
  width: 100vw;
  min-height: 100vh;
  color: $dark-blue;

  &__wrapper {
    @include container;
    display: flex;
    flex-flow: column;
    min-height: 100vh;
    @media (min-width: 768px) {
      // flex-flow: row;
      width: 100%;
      align-items: flex-start;
    }
  }

  &__error {
    position: absolute;
    color: red;
    display: block;
    top: 0;
  }

  &__top {
    flex: 0 0 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: 767px) {
      flex: 0 0 210px;
      justify-content: flex-start;
    }
  }

  &__profileimage {
    width: 93px;
    height: 93px;
    border-radius: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__add-icon {
  }
  &__image-text {
    font-size: 1em;
    padding-left: 20px;
  }

  &__content {
    flex: 1;
    width: 100%;
    @media (min-width: 768px) {
      @include innercontainer;
    }
  }
  &__form {
    @media (min-width: 768px) {
      display: flex;
      justify-content: space-between;
      margin-bottom: 50px;
    }
  }
  &__form-field {
    position: relative;
    padding: 0 0 15px 0;
    &--paddingTop {
      padding: 20px 0 15px 0;
    }
    .formfield__line {
      background-color: $dark-blue;
    }
  }

  &__bottom {
    flex: 0 0 120px;
    flex-flow: column;
    align-items: center;
    display: flex;
    @media (min-width: 525px) {
      width: 100%;
      flex: 0 0 160px;
      flex-flow: row-reverse;
      justify-content: flex-start;
      align-items: flex-start;
    }
  }
  &__dots {
    @media (min-width: 526px) {
      margin-right: 15px;
      display: flex;
      @media (min-width: 768px) {
        width: 100%;
        flex: 0 0 160px;
        flex-flow: row-reverse;
        justify-content: flex-start;
        align-items: flex-start;
      }
    }
    &__dots {
      @media (min-width: 768px) {
        margin-right: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      @media (max-width: 767px) {
        padding-top: 30px;
      }
    }
  }
}

.imageUploader {
  .errors {
    background-color: #fff;
    width: 100%;
    height: 76px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 12px;
    font-family: 'SpaceGrotesk';
    padding: 0 5px;
  }
  .fileUploader {
  }
  .fileContainer {
    background-image: url('../../assets/cross-icon-blue.svg');
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: none;
    height: 76px;
    width: 76px;
    border-radius: 100%;
    &:hover {
      box-shadow: 0 3px 8px rgba(8, 0, 206, 0.16);
    }

    .chooseFileButton {
      background: none;
      margin: 0;
      color: $blue;
      font-size: 0;
      width: 25px;
      height: 25px;
      position: absolute;
      &:hover {
        background: none;
      }
    }

    .uploadPicturesWrapper {
      // width: 100%;
      // height: 100%;
    }
    .uploadPictureContainer {
      margin: 0;
      width: 76px;
      height: 76px;
      padding: 0;
      // margin: 3px;
      border: none;
      box-shadow: none;
      background: none;
      animation: none;
      img {
        // border-radius: 100%;
        clip-path: circle(45% at center);
        // width: 50px;
      }
    }
    .deleteImage {
      width: 25px;
      height: 25px;
      background-color: #fff;
      font-family: 'SpaceGrotesk';
      // font-size: 16px;
      font-size: 0;
      color: $dark-blue;
      transform: translate(-5px, 5px);
      z-index: 10;
      background-image: url('../../assets/cross-icon2.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: 7px;
    }
  }
}
