.signup2{
  background-color: $dark-blue;
  width: 100vw;
  // height: 100%;
  color: #FFF;
  // position: relative;
  // overflow: hidden;

  &__wrapper{
    @include constrain;
    display: flex;
    flex-flow: column;
    height: 100vh;
    @media (min-width: 525px) {
      // flex-flow: row;
      width: 100%;
      align-items: flex-start;
    }

  }
  &__top{


    @media (min-width: 525px) {
      // display: none;
      flex: 0 0 300px;
      // transform: rotate(180deg);
      // top: -80px;
      // left: 0
    }
  }

    &__corona-image{
      // top: 70px;
    }
    &__smiley{
      // position: relative;
      // transform: translateY(-50%);
      @media (min-width: 525px) {
        display: none;
        visibility: hidden;
      }
    }

  &__content{
    flex: 1;
    width: 100%;
    @media (min-width: 525px) {
      // padding: 300px 100px;

    }
  }
    &__form{

      @media (min-width: 526px) {

        display: flex;
        flex-flow: row;
        width: 100%;
      }
    }
    &__form-field{
      padding: 15px 0;

      // width: 100%;
      @media (min-width: 525px) {
        margin-right: 100px;
      }
    }

    &__terms{
      padding-top: 25px;
      @media (min-width: 525px) {
        padding-top: 57px;
      }
      .checkboxfield{
        font-size: 16px;
      }
      .checkboxfield__checkmark{
        top: -10px;
      }
    }

  &__bottom{
    // position: absolute;
    // bottom: 37px;
    flex: 0 0 100px;
    @media (min-width: 525px) {
      // flex-flow: row-reverse;
    }
  }
    &__button{

    }

    &__dots{
      @media (max-width: 525px) {
        padding-top: 30px;
      }
    }
}
