.signup1{
  background-color: $blue-white;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__button{
    padding-bottom: 20px;

  }

  &__text{
    position: fixed;
    bottom: 40px;
    width: 83%;
    text-align: center;
    span{
      line-height: 0.75em;
      margin-bottom: 25px;
    }
  }
}
