.signup3 {
  background-color: $gray-white;
  color: $dark-blue;
  width: 100vw;
  min-height: 100vh;
  color: #fff;
  background-image: url('../../assets/corona_pattern_dark.svg');
  background-repeat: no-repeat;
  @media (min-width: 768px) {
    background-image: url('../../assets/corona-pattern-dark-desktop.svg');
  }

  &__wrapper {
    @include container;
    display: flex;
    flex-flow: column;
    height: 100vh;
    @media (min-width: 768px) {
      // flex-flow: row;
      width: 100%;
      align-items: flex-start;
    }
  }

  &__top {
    flex: 0 0 90px;
    @media (max-width: 767px) {
      flex: 0 0 310px;
      display: flex;
      justify-content: center;
      align-items: flex-end;
    }
  }
  &__smiley {
    @media (max-width: 767px) {
      transform: translateY(-30%);
    }
    @media (min-width: 768px) {
      position: absolute;
      bottom: 188px;
      left: 166px;
    }
  }

  &__content {
    flex: 1;
    width: 100%;
    color: $dark-blue;
    font-size: 24px;
    @media (min-width: 768px) {
      // @include innercontainer;
      max-width: 600px;
    }
  }

  &__explanation {
    color: $blue;
    h1 {
      font-size: 50px;
      margin: 10px 0;
    }
    span {
      font-size: 16px;
      line-height: normal;
      text-decoration: underline;
      cursor: pointer;
    }
    @media (max-width: 767px) {
      // display: flex;
      // flex-flow: column;
      // justify-content: center;
      text-align: center;
    }
    @media (min-width: 768px) {
      display: flex;
      align-items: center;
      h1 {
        margin-right: 20px;
      }
    }
  }

  &__bottom {
    flex: 0 0 120px;
    flex-flow: column;
    align-items: center;
    display: flex;
    @media (min-width: 768px) {
      width: 100%;
      flex: 0 0 160px;
      flex-flow: row-reverse;
      justify-content: flex-start;
      align-items: flex-start;
    }
  }
  &__dots {
    @media (min-width: 768px) {
      margin-right: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    @media (max-width: 767px) {
      padding-top: 30px;
    }
  }
}
