.signup5{
  background-color: $gray-white;
  width: 100vw;
  color: $dark-blue;

  &__wrapper{
    @include container;
    display: flex;
    flex-flow: column;
    height: 100vh;
    @media (min-width: 525px) {
      // flex-flow: row;
      width: 100%;
      align-items: flex-start;
    }
  }
  &__top{
    flex: 0 0 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    @media (max-width: 525px) {
      flex: 0 0 210px;
      justify-content: flex-start;
    }
  }

  &__content{
    flex: 1;
    width: 100%;
    @media (min-width: 526px) {
      @include innercontainer;
      display: flex;
      justify-content: space-between;
    }
  }
    &__checkboxfield{
      padding: 10px 0;
    }
    &__radiofield{
      @media (max-width: 526px) {
        padding-top: 20px;
      }
    }

  &__bottom{
    flex: 0 0 120px;
    flex-flow: column;
    align-items: center;
    display: flex;
    @media (min-width: 525px) {
      width: 100%;
      flex: 0 0 160px;
      flex-flow: row-reverse;
      justify-content: flex-start;
      align-items: flex-start;
    }
  }
    &__dots{
      @media (min-width: 526px) {
        margin-right: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      @media (max-width: 525px) {
        padding-top: 30px;
      }
    }
}


.experience{
  width: 100%;
  padding-top: 30px;
  height: 200px;
}
